<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This site was created by Shahul Riyaz. It uses data from mapbox.con and weatherstach.com !</p>
             <img src="/img/sample.jpg">
        </div>
        {{>footer}}
    </body>
</html>